files:      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDuTCCAqGgAwIBAgIEH52IXzANBgkqhkiG9w0BAQsFADBbMScwJQYDVQQDDB5SZWdlcnkgU2Vs
      Zi1TaWduZWQgQ2VydGlmaWNhdGUxIzAhBgNVBAoMGlJlZ2VyeSwgaHR0cHM6Ly9yZWdlcnkuY29t
      MQswCQYDVQQGEwJVQTAgFw0yMzEwMTkwMDAwMDBaGA8yMTIzMTAxOTAzMzUwOVowezFHMEUGA1UE
      Aww+dXNlci1jb21tdW5pY2F0aW9uLXNwcmluZy5hcC1zb3V0aGVhc3QtMS5lbGFzdGljYmVhbnN0
      YWxrLmNvbS8xIzAhBgNVBAoMGlJlZ2VyeSwgaHR0cHM6Ly9yZWdlcnkuY29tMQswCQYDVQQGEwJV
      QTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJZiHmTkEZWxHKicCcrmq9LnxH9RT9IY
      v3NNNHPw0TrhmQhY6FuUFxiSmAoA2Ebc25ILjs8Rd+pzYJK8S47HyejKqOW6CblnmI24jbKyx9lj
      7DuU9opdVTuEaT/wGoyQiuONSMjW+rGwa7X2anN8F6jmdkzgQpd+IF81dQaKiJt27bItc+pEAtkj
      eC17ZkfLxe3IGp5vkcY88eWNxaF3Sd1KQlNypWuy/KqkMolXmfzYmY1VNB/s7/T26RUKTmz3lCQK
      CxnC5KUy7cUITvQitWDNcZeKkkobwB7T0mEvHbVlUeVyc6iEOpSTTuhbRv8wTo24SU9L3vsZsz/g
      +iLr2kECAwEAAaNjMGEwDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAYYwHQYDVR0OBBYE
      FIVekqp/HToxAgBXzfDYJ0+YesIgMB8GA1UdIwQYMBaAFIVekqp/HToxAgBXzfDYJ0+YesIgMA0G
      CSqGSIb3DQEBCwUAA4IBAQACs3QJDXKrqzbBV/RVYAwLCCsMeoz48IgZLkCPrwOSBpYTBVBs/ZvL
      qaH1QLQ26PpjlpS1aDSCJK1M1QbI72iYll4zRQMvYA47lLiJ3rjpFy6c32p4F+1yd1QdtjSv4LLe
      PvQOgQFVcK/G49PhXt4jWXxIIGKeCWWWk0xVZOhaSiaTEqulxqE1y17Ak5qB3qtAWgEWvEEved+b
      AJWqk6+C6PuNTBsmB3rHxtgKoTVUio41dVoe3Jv69OnVblsMvxSCMrO1Io8m0wd2sDHcxIBIXSuK
      TMwbKZA/g1MdBBMS1V6b3NcWX2INofbcis5iNsye7zdhF2kTsjCA1WraaFnZ
      -----END CERTIFICATE-----
    
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEAlmIeZOQRlbEcqJwJyuar0ufEf1FP0hi/c000c/DROuGZCFjo
      W5QXGJKYCgDYRtzbkguOzxF36nNgkrxLjsfJ6Mqo5boJuWeYjbiNsrLH2WPsO5T2
      il1VO4RpP/AajJCK441IyNb6sbBrtfZqc3wXqOZ2TOBCl34gXzV1BoqIm3btsi1z
      6kQC2SN4LXtmR8vF7cganm+Rxjzx5Y3FoXdJ3UpCU3Kla7L8qqQyiVeZ/NiZjVU0
      H+zv9PbpFQpObPeUJAoLGcLkpTLtxQhO9CK1YM1xl4qSShvAHtPSYS8dtWVR5XJz
      qIQ6lJNO6FtG/zBOjbhJT0ve+xmzP+D6IuvaQQIDAQABAoIBABXrYlPBXIDNqog3
      CkRdYAEjUCRgpTpR6iHzyGf3239yH5y0XNXwXXdy8p9OpTea/JQqhBvRh4GQZKyu
      rnK200rPs1OczMsN+xH5Kwo3feLFakr6+P6NAR3mPHMZ27zOWrg1QT0o/KyGswR4
      UObZWReA1BB7halQNIa8I30bFzNVpjDXz6gna2k2BhQZsSW7hiCI0692c4qdAZZn
      5SB1BQSqWEpkYQ3OzdqF9OiIugC8YzZ0kIXQ9K6UN19I4Y7PjIyto4OOsm74VeGv
      PUc/awPy6ymRzG+XmrUCV96cDjmxNkqV8Sjg9+ghk6OuvRBN8uJEPEsAmydV/d21
      UuA9MusCgYEA4LxZvifCCv/O7p8IQRgwXgtsRFiJNKSSUXYznCt3WmIh3rTJB1h8
      YstMUusMabOE3mrdWJjVXpeNXca8uFDX/M7X/7O/rd5Gy0nseJ+adJ83wfe+bh8S
      9ieylCzQ/eSHWClppddNn0UTIsXnc3+ewXhHK1WEjJ8i5kP8pEkYZ1MCgYEAq03P
      Fk4aX7S80aSlTo169KVTG6Kbtt370rZ26qyZbc7QutvCpkHZCl3ytUaW6LF1ZGqa
      uVXEwhXEZR3scXhZp87pp5DivzUnayxh9WCj5xpRoFXmRTpZWlfmkbnKMl4kH4AG
      SqqbBBDzncv2CYZEnmdZwosq1ixIxjY3J/7jKZsCgYA4tS5L/kpHbj8wFS8HBeyG
      folmQZT1lKVbKuFhAdLPGr4DLUkgsmJIp5XtwmPSdDsNyJdr2LzWbpV8WT6bn8Kw
      hx0X56pxXAovF8s0sMlPrjFqn3IM5YhqVqAIJbripfzE8UY4U7jBfLOUba22hjhw
      B0KmG6EjvrAWvIcOiWdAAwKBgE1/gQ2VPgdITBgIBaU5CoQ9exDIiuu7F58nXzsh
      5LOx2ep/W1s99QPkptXt3n3dMr/AHsl0DPTFRjl8xSg8i0sIp9pgCMT6NiAdTx/k
      naIC3STNV8S/9gaSN8R7qgcJYgxCLhZ/gmvfg2dDC8cZUFfdZ9VEgpesJyxNALz+
      aiS7AoGAXy4oRIQIyi5CEgnDrXMNW4UV4cXv6UZy9gIxcl6d+lnstFLjkVjlRO5k
      NXkdk6SVA1R5RDDHqqx+u9jDxYz1f9kCD+buQQsfA2C3GNw/xFlbAq1m05pjdKnH
      QKf25/SzjT09w0CM8UZNHx9UHwsrclKJd9bS5RSfVTEjTZEUTGA=
      -----END RSA PRIVATE KEY-----
