files:      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFIzCCAwugAwIBAgIURJwIx6lje6hcrM7jU7XCoEKK2h4wDQYJKoZIhvcNAQEL
      BQAwITEfMB0GA1UEAwwWKi5lbGFzdGljYmVhbnN0YWxrLmNvbTAeFw0yMzEwMTkx
      NDE1MDFaFw0yNDEwMTgxNDE1MDFaMCExHzAdBgNVBAMMFiouZWxhc3RpY2JlYW5z
      dGFsay5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDQVPlrACpU
      ZdYY6QP/iWX2B5zCV1M1XTDrUxWH9WWzGpoMVe1OJiZ61moeqsyu/3S+2wbK8KEb
      WvDDNGDDkJldtsGhjznAFLZhpfY8KC21S8w7m5qH0PqkT1zEQlIHvPmpFwLSJ0Ec
      6y8Hi/CIQyCEK6k9YRS38wZ5SOMC/n2cByC2nXo9K83LJqtiAFO9Dqkf/BtW4X5v
      Hji9WXCBiLaquP63Sc2OSUh/agMbQ4yztB00ug4W6hv13U4MV0XGYuF1gfxYCWnn
      vt7vIWZmUhtNVhIf1k28losLK8nEs3q0n5R0rWmhiJbCSTNBjh6kyjYIT8+q/JIy
      xnF3/ZWde0T8Vo2PNBQPtZWdTCz20T5aEnV/Vw+71sz/d5CnWsX6d6DtduJqkh0j
      tczBTg4635p/Pp1PKaVLx9McUUtATXm8fe6kd9MkJIsnzffEXkpiuBkSWJEUDw6P
      MOesVweEaHa1GzPHS9SX4GSj5xF6KSHYHGIqVMPMz/4EHa/qkhhaC9hRfasFTFBt
      NqIWmHfjQAPcsxDpTl8c3TlXz8gnODGOCPd1TeVsZ5V9UE6ahVW9wuiH/T9/GSdS
      Aqo05GelRoTuVpoXY9q3mf7BKIgDf7phlvocV5y4Y/ETwpETLCckAg8HlV8F6twS
      OSDR8TRC7Wwf+bktYXItoSeearLD5kC6pwIDAQABo1MwUTAdBgNVHQ4EFgQUWUDd
      GafWZ10JWOEYQCpgLKUdizAwHwYDVR0jBBgwFoAUWUDdGafWZ10JWOEYQCpgLKUd
      izAwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAZBjrbzqe01lP
      88F7aNXPAN9ygpECeCYr/NOEtRTCYZdrP60W/QcARqUobJwVe4KLpmP0BxfgfRUW
      Dn/5PetgRxuITb+qHLbOcZPyE9cr0LpDl/+eekByVoRyR2JyiKUa2nmcawUqrORe
      QPY2TiVdrIGrEUQFguoVXuqgZu29HpAc2GmrA5EqFSCzPF3lamZzuNnD+H5zCPzI
      6Wmp15ycWrCj/+MPfeWxK+aV1eqR5p2dlIjneE9i9A/KWbm9vh7FLzRJak212Vq0
      EOjP2JpfFqrkqvjEk7N1wVgOXLvA+yVR0ZLibrPQHtcyTdn3iFSyhMWjuThdpnhO
      WWnp3GDJiGMu2qZemmLzzFTSfrWEaDOSL9tcbiYDqsjFy5wXtdAl7Ex3hBcip49G
      5YMsvfbl9b2v6AupJsTJtp7HePiSfICr83f0PTHMJdTLnyQ13pMtnet5ScvuSY8Z
      YoHjPX1rg2VNGGPW9tQ9QDmbun+c8SgBVv9NGDAYinLfoysXwITZ4U/h0AHyyHGy
      gSQosmKcD/WqJILKIetqMDYrWeoEqDTTfb5HkITdo5G9yqPaIqITLPPBvEodbRaV
      e06vh4zkE2MopPJ3LpAseGlsksSPGvFtIQQMhyvuTzWxLjDJ6d9tP91SzSNSMcbB
      A8BnVQ3h7IedfMv+9YlGvpNR/n9CX58=
      -----END CERTIFICATE-----
/etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIJJwIBAAKCAgEA0FT5awAqVGXWGOkD/4ll9gecwldTNV0w61MVh/VlsxqaDFXt
      TiYmetZqHqrMrv90vtsGyvChG1rwwzRgw5CZXbbBoY85wBS2YaX2PCgttUvMO5ua
      h9D6pE9cxEJSB7z5qRcC0idBHOsvB4vwiEMghCupPWEUt/MGeUjjAv59nAcgtp16
      PSvNyyarYgBTvQ6pH/wbVuF+bx44vVlwgYi2qrj+t0nNjklIf2oDG0OMs7QdNLoO
      Fuob9d1ODFdFxmLhdYH8WAlp577e7yFmZlIbTVYSH9ZNvJaLCyvJxLN6tJ+UdK1p
      oYiWwkkzQY4epMo2CE/PqvySMsZxd/2VnXtE/FaNjzQUD7WVnUws9tE+WhJ1f1cP
      u9bM/3eQp1rF+neg7XbiapIdI7XMwU4OOt+afz6dTymlS8fTHFFLQE15vH3upHfT
      JCSLJ833xF5KYrgZEliRFA8OjzDnrFcHhGh2tRszx0vUl+Bko+cReikh2BxiKlTD
      zM/+BB2v6pIYWgvYUX2rBUxQbTaiFph340AD3LMQ6U5fHN05V8/IJzgxjgj3dU3l
      bGeVfVBOmoVVvcLoh/0/fxknUgKqNORnpUaE7laaF2Pat5n+wSiIA3+6YZb6HFec
      uGPxE8KREywnJAIPB5VfBercEjkg0fE0Qu1sH/m5LWFyLaEnnmqyw+ZAuqcCAwEA
      AQKCAgBO1dkMhKOADIlYI9U/fd73mynW4PS73OgGJQqgyFwTyp1AzcNfL1Cga0L9
      F+Uc08556qhHY4eTsnYpaEi1uKJQtDfRy0EvTqc1jHgBi7LASE6gv+FaQ9qVEvMn
      0XD5PKm9Mtf+bpxVNSo20N3UspI7cco5T+NnOK/adZpyJ5ugz5GxiSYYv9rAZYG1
      NCp8AHA/ikdOOUZ/BhCyloXcfr+hGyBIe8Utcs3caWGDj6xO1Hm42i86vJyYDYbb
      ZKsix4hJz0aOigFpkPELzLfTQH7UZR22roH8O3uiXo+bv89PSpQDExxF5Eooe0rK
      I920vlB0FL+hFLK+RBnsLinPzjXsGFMOkujE4btSTJNDjNaJL7/NyjIbRWGjBnHo
      QYgO2E6W+aCVAHNflBDFcxEycs8DvrgZZLQv6FLtyqDQ9W7dcmJ66pxdUQemQoZm
      0jXTkoSE/mAGtHgy57Ww70On5opaSzcgQxmrw67k2RZGGB7jJznLczqvVcMveJM0
      qbTbFN6SX02EpFNMjnmQcic3eau47Gw1c4vWZNk5UbL6Cyla0IP9cKNTwYWh6Zoe
      2dVrS33yVeN2y1gF9CXALBY9BmtZRo4fLqAr1tAMHKE1movgVau8NkOVLt42MRl9
      9TnihhsBc0gOHzqjZU1xJ3yhfmN0VZcYtKfvIMyTYcNqQlZGAQKCAQEA8umYicTU
      oMLE6rqvDgpvGVW7BoZSebE7F/rdVepckdbkWIqsRZebQJ1JOud+lrrnQICYruqE
      hJTx0Jtb/k8KZ4LYV/oaB/4Xvjoqub+xHl7lGYVJgMLZtQPHmdImS5FRXKJB1jBa
      8OnoIYJvi+AQ4mq9/y3EqU0t41SaCfIPxA5B812pljd5jxnrlTmrvAzyd+TYz4rQ
      YnV4jq2Oq3lm8zUjcGz3fQsvoKevFAaIPB5kIw4urJ7GGwLE46SeeE2m004mb3Gb
      //Mh+U5MjU/mBZMSGLeuSD2BdTrke8KSoqigcxxmK0WJhMnxrOsb3FuRztz/fSbO
      mLEmxO8F0xtofwKCAQEA245r3kJu1WZK68tNC+9QUTo30wPnooIUju98MUh0RfCG
      jmjE5QtQOeOP0YN/y1XyW/d3wEmYZJN9xOm+bDyrI03uV8MoCFmfUQOINj+mnRyz
      U8337cUxBol2B6YZTO9KatEntSBJL0ltZyMI0GfQaZCABOyMxWJ/EQnrJ5jc1+Ae
      GKwev24AMDjm2GMdFJzgEn1N8B3bqtS8ybsC7spCPBa9AcxQM0eK+AiboP831FHs
      0GNka7hDxNlv0Z/rF8qbOuEwFHVjC2N1GkcR1Fdgdy6zWacmp+NqgV2f1nbSHbD6
      T2qUHKYINabpoUtfRd1+Dax3GiFhleKa2BGTEs9Z2QKCAQAth9Nrn1UrfNZkGPHO
      8+23FfakVnEHFk05RXBPNkp7m4fZgMShlrUm+1RKkjGMFyRZVsFHp/WG1FQvAa/Q
      jwgoNsJOWzad4OaaZVS01FVil+7hRbZtSBh+cWLsVhOPfoF9l3w3pYCmP3GfNk+q
      LCl+Bvvt5KpEAY9kWOs2igSifvmloBy1Z1iFlhouMk0aRmL8TgzFegNtMQ+Tzrw7
      L9o4I/GslQAelAYtWsDaRA8tFZU3bOUavffsACzfbm+1pPhsCu3xXZ4b73qivCZl
      JmC7EsIFmAg2yjCFxLAm8mWBz5GjgeM0oSgRl7iQ7NCgERnXaF0LHEcFH89gglzZ
      IP4JAoIBAFvvDPfqNWKiDKkjXcWrlaQNjqaLMgj4Eweu+//e6OEIUC99a0TFMfir
      cuM1/uLzwCIGQ1x+9JLYt4cmoRfNZ5PG5BBXpYGplW5k3jpo+Kk9BVIIItKrCVZF
      ZOjbAikW4cBMiCXtuPdV9buEDgLGFZy+Zvyo2GEmVzKZRqAz//Vc4P1PxSg/NVD7
      4p2lEt44uhLD6UisF/k2Tz7hUd8PTiC/HLGODd8LDAPEBvapJ4V+MH0pwTjh1W6t
      5YaPQe+aZNmIxYsrhCeWo8g3Dh4t4DTHl03pEeSm80fsHiu9YUoRex6Z8B723uUo
      WRey6dflYQz0tIJ6i9QpKNFkuoLb1DECggEAYwpO+BZWWPJf1E9y2AjH2fx+SRN9
      mlRItsViyRfuTtB/yfcI33azKbGsFYDE2IDveIeZ0JYpIT+0zKpCVST3SNa1qUmc
      3ojd8T6QC5DaOr75yH1WM/2iSQqqV8ma28Uw1CqGGNYRIELBRTqbpqs6wmAsTca/
      sJlbWZe/Sw3KR7oOCuMfWrEUjKn2m44MrY17jNoUn39RZ0xkmXJOjdSzeWp1xUn3
      ULmubXlrxTUpXI7b0HAPcZehwDsltqdVtRatLKlixyCOc+D3xPXUVJbgVgcHhGYc
      FHCcP4998GKkfcU2mDB0J65M38NVGq5NeTyCn1viN/PDajG1YwddtUgjeQ==
      -----END RSA PRIVATE KEY-----