files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFIzCCAwugAwIBAgIUJ2o1O2AjZrzGKWKAZkKt2ewur90wDQYJKoZIhvcNAQEL
      BQAwITEfMB0GA1UEAwwWKi5lbGFzdGljYmVhbnN0YWxrLmNvbTAeFw0yMzExMTUw
      MjUyMjZaFw0yNDExMTQwMjUyMjZaMCExHzAdBgNVBAMMFiouZWxhc3RpY2JlYW5z
      dGFsay5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDTceRXZX3T
      EB3uMdJrdNmTN9LbV9riZ0VXWTGm5Z46vtSPjxvBUyEbEfcqOspziRBtaTghNCj2
      ShahKYtLq+Tfe02DcwPFKAm2NsnSvmGXB8OgTiB9+dmB65Lt8MCFZvyDVDWBNLBS
      1kWgyaGiBbUFBHbsQu8c4wIQKZ8yEuR8VGHVLCPEbOL/hwiXEfoX4lMUds+wB9vx
      Q4R6W4Gdz3bBnNoXWWYyPX46640+LjKk5r8GBg6pPl5FqN2oxUyYeC7sQOZjEYfr
      M49S5OHbuM9DmwgmrBPIO6/ZPU3F+5dE6dDxiYjl8hLXJLJD2xrQBbNlssVvNwRQ
      scbwTVchKYc9xoVTfgzI/BvymCR4DWjCpFeHtQIpxVlj9HyBf78JCJ8tU5Db1DOH
      XwdARaRBsArDTiiM7YuI6KF9dwoWGh6DzlLRsjCU319SAOdXN+lU/Yg35mY9JIBB
      24JG+mALPCdrS7ClwrWzOa+TY37UGwUex7VVNMINXn/YO8EtjjvryWvnkIpsVKYk
      nElfRZIUrOSLY8CYWEb72cVSY7jgh5kXRynib8Conl5LgtoZU0hd8ZkXeLv39jAy
      5ksRZPSsTQ1AHJEvpJrmCpxf/kwKxsmOZME/dAbAJA/TkZkVtw1EZUd0KqndIUbB
      TgDxQO5R647k7uzFz623TEn4aeuZvwHxawIDAQABo1MwUTAdBgNVHQ4EFgQUYjuH
      qZiu7/MtMi8ZzprWMPnXfzUwHwYDVR0jBBgwFoAUYjuHqZiu7/MtMi8ZzprWMPnX
      fzUwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEArJTDGdx9OpSe
      BGz3qWVKnq5fpwxWB2Ubkf6D7pNEYQU/iKJm/yElXqRqHPfIxzBzLgYXMfWIyo4k
      h4eApnz3CwUOmlKLIoCQz/NcreIvJJoDMeYcltADrSPyX23CXNIipF8Xs++V2QyH
      0qtQkwSj6ezl0I2bWLrfgNmW7IFpi4LkahWm7B3PAXcwSQeQBMpkYAHjInr/NaiF
      YBNuytHGIlbS44FqwQ034bV8icyHFA9bjdlqcT6nbK3dQvojMZkRgA3o0TdBGDs3
      GN+AcSjdzRj1SwuhXWkPg//U7uZ9W6Z0f+o/T9VEjVEAxox/p9FiC2/dif1m1GRN
      MaDnwBwadnho1MpcMYZPcxn69z35Ua3nI/+Q68iRihAnLv4G3Mf7fh+9Q1tzLEuD
      +l7eqIQElCJTZBlNylElSXzz3tSG7HaSra8io28LQRjRLh8OAdVRceT/0oE4NSJQ
      P+t/M7HRvFI9FxPaMyDRG9qayhzdmHrewLaBMlYTE5ZEa6lV0PvF2dJbugN2PyJL
      8vZ60x1es3z+N8ZR4+emWC/ujRb56gdZiuKRERvwWyCLz610ZqHGCIgEiY9Imoe1
      DblKBybVfrW74KIfC0+HNKLvTEEYr2Y1ZcMu3nLF3u/SakFjFZ+nutSh2kCKoHK7
      YyirvV0r5uUt3S62TjsNvxrHRPCKsi8=
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIJKAIBAAKCAgEA03HkV2V90xAd7jHSa3TZkzfS21fa4mdFV1kxpuWeOr7Uj48b
      wVMhGxH3KjrKc4kQbWk4ITQo9koWoSmLS6vk33tNg3MDxSgJtjbJ0r5hlwfDoE4g
      ffnZgeuS7fDAhWb8g1Q1gTSwUtZFoMmhogW1BQR27ELvHOMCECmfMhLkfFRh1Swj
      xGzi/4cIlxH6F+JTFHbPsAfb8UOEeluBnc92wZzaF1lmMj1+OuuNPi4ypOa/BgYO
      qT5eRajdqMVMmHgu7EDmYxGH6zOPUuTh27jPQ5sIJqwTyDuv2T1NxfuXROnQ8YmI
      5fIS1ySyQ9sa0AWzZbLFbzcEULHG8E1XISmHPcaFU34MyPwb8pgkeA1owqRXh7UC
      KcVZY/R8gX+/CQifLVOQ29Qzh18HQEWkQbAKw04ojO2LiOihfXcKFhoeg85S0bIw
      lN9fUgDnVzfpVP2IN+ZmPSSAQduCRvpgCzwna0uwpcK1szmvk2N+1BsFHse1VTTC
      DV5/2DvBLY4768lr55CKbFSmJJxJX0WSFKzki2PAmFhG+9nFUmO44IeZF0cp4m/A
      qJ5eS4LaGVNIXfGZF3i79/YwMuZLEWT0rE0NQByRL6Sa5gqcX/5MCsbJjmTBP3QG
      wCQP05GZFbcNRGVHdCqp3SFGwU4A8UDuUeuO5O7sxc+tt0xJ+Gnrmb8B8WsCAwEA
      AQKCAgABUqMVEON6oI0vYkxos7BwxVaiXKhX5kF+zGYNHz6gK3V0+HY5/WUloDUl
      pHyDwIXDyXa6bnMbJ1eA5puie47Q/xp7Cgsp/pgg9bLJiLtfkILey95UK2367Bhd
      OLZbn0tRHwO+rS+1NPX2jYxfUR3SzDZaQAjy61Cl/TyruYaIaJa8GKyYm/3Hj3a0
      Sz5/S8EtTZj7BvGPTtbTVSM4c4XQrESJBNwo0E2r3LFjhDJ46aCkTwFkealpUicg
      2SsjgQz6GWXXlNJ+3DG3WQs4rq1NRPkGFOmCxSzSdRm5dVt66OOPv0aF+b+4bNhY
      qFRAnOiEaFvn2DZEsvgFpNY4tOPNsjdkoIPjdp3UagvbBxPflCD8d6dLX2cCHD/1
      8F3gOIWRd0D5lV/LSJudwtL66COlTcOvSqLP4IhPl1MI3zK6FigS2nnTvpjltZii
      A2VJqctN6YgBOy1OOLbR9BMBGGmCMXUUKkuOrdxG/xR8pY/ci/pwZh/oUX2a063X
      gfC4Gwy2jj7A1dS5aut3bBz665VO3MzHro9s7a+5p7xyhrV0zDLUuKMHX3U11Fjs
      KXrFALYQLnu0RMnkcqQwAzDVl+uOHKDxogejJZxPkHVl6Bg9XgD1evjIFvwW7CTG
      Cusw91nxaPboDPvwzQ7oT/z6Q/eOiLo4ZZ/Cl/rkDG9roZhQoQKCAQEA+IQZVnzx
      u30NuYt9bBTYOeYi8JqZpzFfDonNwKCH0pmG4/FwyAHR5iu54d8yIJ6ORSAvlTxK
      DMze5NQIAKfRL5/iX4sIBsuO4EC9cigukNzHJIBJD3uzuL0qd69StA0IZge4znNT
      L8sHr2vUlN1N6Z6haXJ7DiRA+za1L6uuvalk+08MMADuk+ew98arDLuWVMrxaU1p
      WDoROeUslzqYwMdXtWD4AEaXHTjFaAOGQgmjLrJGgBY7DRDKOGPefwpqWxe68bdL
      Dbbxr619JJkbeAZh603ca1EysjiclH2/rlAe0v3xUl+oB1TtArxrQBfU9WZ2+p9X
      E82IekZgSbVQUwKCAQEA2c//hOYFJFcR5yuqICQNYVlLZGWsZ5i2sDTFBmpQQqRA
      xYNsFBNT0PWE3a//4D+ZTljgREOvqINfHG9gX6VZZ6cQsmC6yTDqx8YQY4mK5nIu
      DOB7dhZp6Kz3vMj3VcZXDhNOv/vVyZuU2JyI3AEJKaYTmSsUkBf1W5i28ccn9gTx
      IEcwUyAPivOTF9iBACxs37qomB4bLXevZHShu+5pgt7YfBdBLBbmn9p0IuHjP8DZ
      GWghizrpx1kW3B1tLXM0jF3Rv9UiU2aSCpWVcWU704z7jE4UkeukeSqox+DC0J9x
      f29YhTrms390Eu5O+j/NnKTTTNdLJ1M1qguVO+OXiQKCAQBZ9CbfwXYWcVuIb89E
      Uf86Zez7vlojxKEtt/+729+OAXhsBbbXDqGVePpdodaZLAs/RjkzAZGkNHvxxDXp
      VtVHMc5U2xRasU/UKFrqeVTxppiGw9CuRA53rjEzBUkgVx9VHzJruB7CS/FKM/PM
      tpY/G+Y9Lu0P31uOEu1ehfxINoqQ1LoKniu9ab4K0eSURUpTAuqDPTwGbW5S0Htl
      ehZUoVNEGgdqwiJst2HtFmmAedCRVIJkVqelQRCRfMTKo1CADITkfX4zRqcQ+fE0
      UB87QMQs0hAY4FlDXW5/6Ux6ohGmObkiIfHGRZ1MwjroBjhVY3NpoEd6qYjfCZ5M
      z851AoIBAQDYYUvEaQZeraj5cGVX/LjWJvFA0cjOOeXzctjwoJkPO0GldgPehbzU
      b7QIz5lw232fWaeh6WQOEkRgaTzih88jq9JogrPMvy3ePKN3XuKAQJoC7Nd53pZk
      McEC6NrdeWZuczveeX5PBKJ/9jH37Yd+up/pn+STqVl0H2hPFLxcKVip6k7VpZoL
      PiK4o7qzw259bF+kjvQM3UN+lmc93YEwI9YIoMl71VxTHaAWLzWk1h5WoR4BxQsN
      oTGWhh0586MWdvWyjzfEhrc6kJOfzSP766jSH5dLxz7jqD94IY8n1d3Y7XKRGIyr
      cUiMrfYDoXLP1OadBZyBeqZrQYqFrnmRAoIBAErFQDpfunzykBOQJXJn2AjnEZqP
      2nZMS3xR8Pt5RUrDftGI4rOKqXQv+ZIbiCP9isQdiJ810vz5L56ca/ZoGFdi65Hh
      8dEpYABz00FcZOGmTsLwo3GUeyhi/nJx27KFxER991Ev//oW+aZaCROV+4VHlswz
      3/kyysQ4G6IQI2c9bB93URCOKb3P5pXauxzPuiz3buRFC1astTKgZghZ+jsQEGn9
      iSexy7MarHAfDDq1lT4ecEqxxn3O4SrguypvaamTY4tZu6MQn0Izxv5DewNpmlXr
      K7mD+Ju5ELnSstDy7GVu9QJhm4mf5YAwLarqVHrNHNqnO0sMRJ57j8GtHSg=
      -----END RSA PRIVATE KEY-----
container_commands:
  01restart_nginx:
    command: "service nginx restart"